.about {
  background-color: $secondary_color;
  z-index: 1;

  hr {
    width: 60%;
  }

  .section-title {
    background-color: $primary_color;
  }
}

.about-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  @include breakpoint1 {
    justify-content: center;
    flex-direction: column-reverse;
  }
}

.about-text {
  display: block;
  left: 0;
  right: 0;
  align-self: flex-start;

  text-align: center;

  width: 60%;
  max-width: 85%;
  word-wrap: break-word;

  margin-top: 8%;

  background-color: $primary_color;
  padding: 6rem 1rem;

  @include box-shadow();

  @include breakpoint1 {
    align-self: center;
    margin: 0 auto 6rem auto;
  }

}

.about-image {
    left: 0;
    right: 0;

    width: calc(12rem + 12%);
    min-width: 20rem;

    margin: auto;
    margin-left: 4%;

    @include breakpoint1 {
      margin: 0 auto;
      align-self: center;
    }
}
