.about {
  background-color: $welcome-color;
  z-index: 3;

  hr {
    width: 60%;
  }


}

.about-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}

.about-text {
  display: block;
  left: 0;
  right: 0;
  align-self: flex-start;

  text-align: center;

  width: 60%;
  max-width: 85%;
  word-wrap: break-word;

  margin-top: 8%;

  background-color: rgba(0, 0, 0, 0.3);
  padding: 6rem 1rem;

  @include box-shadow();
}

.about-image {
    left: 0;
    right: 0;

    width: calc(12rem + 12%);
    min-width: 20rem;

    margin: auto;
    margin-left: 4%;
}
