.contact {
  background-color: $primary_color;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  hr {
    flex: 0;
    flex-basis: auto;
    margin: 0;
  }

  .section-title {
    background-color: $secondary_color;
    color: $primary_color;
  }
}

.contact-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  width: 70%;
  margin: 3rem auto;

  flex: 1;
  text-align: center;

  @include breakpoint1 {
    flex-direction: column;
  }

  margin-bottom: 10%;
}

.contact-right-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 3rem;

  font-size: 2.1rem;

  flex:2;
  text-align: center;

  * {
    margin: 1rem 0;
  }
}

.contact-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;


  a {
    width: calc(15% + 5rem);
    height: calc(15% + 5rem);

    margin: 0 1rem;

    svg {
      width: 70%;
      height: auto;
      min-width: 4rem;
      margin: 0;
      fill: $details_color;

      @include transition(all .2s ease-in-out);

      &:hover {
        fill: $shock_color;
        @include scale(1.1);

        @include transition(all .2s ease-in-out);
      }
    }
  }
}

.contact-email {
  flex: 1;
  width: 100%;
  height: 100%;

  margin: 2rem;

  @include breakpoint1 {
    width: 70%;
  }

  a {
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
      min-width: 15rem;

      fill: $details_color;

      @include transition(all .2s ease-in-out);

      @include breakpoint1 {
        width: 80%;
      }

      &:hover {
        fill: $shock_color;
        @include scale(1.1);

        @include transition(all .2s ease-in-out);
      }
    }
  }
}
