.skills {
  background-color: $secondary_color;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  hr {
    flex: 0;
    flex-basis: auto;
    margin: 0;
    background-color: $primary_color;
    height: 0.5rem;
  }
}

.skills-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;

  flex: 1;

  margin: 0 5% calc(2% + 3rem) 5%;
}

.skills-element-wrapper {
  margin: 2.3rem 1rem;
  flex-basis: 43%;

  word-wrap: break-word;

  @include breakpoint1 {
    flex-basis: 90%;
  }
}

.skills-element {
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.skills-element-content {
  font-size: 1.3rem;
  padding: 0.5rem;
  background-color: $primary_color;

  @include box-shadow();
}

.skills-element-image {
  display: inline-block;

  min-width: calc(3.5rem + 6.5%);
  max-width: calc(3.5rem + 6.5%);

  margin: 0 1.1rem;

  svg {
    fill: $details_color;
    width: 100%;
    height: 100%;
  }
}

.skills-odd-element {
  @include breakpoint1 {
    flex-direction: row-reverse;
  }
}
