
.title {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: 8% auto;

  z-index: 2;

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  @include breakpoint1 {
    margin: calc(2rem + 8%) 1rem;
  }

  @include transition(all .2s ease-in-out);
}

.inactive-title {
  display: none;
}

.title-logo {
  position: fixed;
  

  @include transition(all .2s ease-in-out);
}

.welcome {
  color: white;
  background-color: $welcome-color;;


  #welcomeImage {
    position: fixed;
    z-index: -1;
    overflow: hidden;

    height: 100%;
    min-width: 100%;
    min-height: 100%;

    img {
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      top: 50%;
      left: 50%;
    }
  }

  .flags {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin: 3%;
  }

  .flag {
      max-width: 1.8rem;
      margin: 0.4rem;

      @include breakpoint1 {
        max-width: 1.5rem;
        margin: 0.5rem;
      }
  }
}
