
.title {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: 8% auto;

  z-index: 2;

  h1 {
    font-size: 4rem;
  }

  @include breakpoint1 {
    margin: calc(2rem + 8%) 1rem;
  }

  @include transition(all .2s ease-in-out);

  span {
    white-space: pre-line;
  }
}

.maintitle {
  @include transition(all .6s ease-in-out);
}

.maintitle-helper {
  display: inline-block;
}

.maintitle-clickable {
  @include transition(all .2s ease-in-out);

  * {
    @include transition(all .2s ease-in-out);
  }

  &:hover {
    @include scale(1.2);

    cursor: pointer;
    @include transition(all .2s ease-in-out);

    * {
      @include transition(all .2s ease-in-out)
      color: #E9D056;
    }
  }
}

.subtitle {
  @include transition(all .6s ease-in-out);

  font-size: 2rem;
}

.title-placeholder {
  position: absolute;
  left: 0;
  right: 0;
  margin: 8% auto;
}

.title-upper-caps {
  color: white;
}

.title-lower-caps {
  @include transition(all .6s ease-in-out);
}

.inactive-title {
  font-size: 0;
  @include transition(all .6s ease-in-out);
}

.title-logo {
  position: fixed !important;
  margin: 0;

  h1, h2{
    @include translate(calc(-46% + 4rem), 3rem);
    @include transition(all .6s ease-in-out);

    @include breakpoint1 {
    @include translate(calc(-45% + 4rem), 2rem);
    }
  }

  &:focus {
    outline: none;
  }
}

.welcome {
  color: white;
  background-color: $welcome-color;;

  #welcomeImage {
    position: fixed;
    z-index: -1;
    overflow: hidden;

    height: 100%;
    min-width: 100%;
    min-height: 100%;

    img {
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      top: 50%;
      left: 50%;
    }
  }

  .flags {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin: 3%;
  }

  .flag {
      max-width: 1.8rem;
      margin: 0.4rem;

      @include breakpoint1 {
        max-width: 1.5rem;
        margin: 0.5rem;
      }
  }
}
