@import '../parcials/_title.scss';
@import '../parcials/_flags.scss';
@import '../parcials/_game.scss';

.welcome {
  position: absolute;
  color: white;
  z-index: 2;
  overflow: visible;
}

.fake-background {
  position: absolute;
  background-color: $primary-color;
  right: 0;
  top: 0;

  width: calc(123vw + 123vh);
  height: calc(123vw + 123vh);
  z-index: 3;

  border-bottom: 0.2rem solid $font_color;

  @include transform-origin(50% 50%);
  @include transform(translate(50%, -50%) rotate(45deg))
}
