.work {
  background-color: $work-color;
}

.work-container {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  width: 100%;
  height: auto;
  margin-bottom: calc(2rem + 2%);
}

.work-element {
  flex: 0;
  position: relative;

  margin: calc(0.5rem + 1%);

  text-align: center;
  vertical-align: middle;

  min-width: 30%;

  @include transition(all .2s ease-in-out);

  &:hover{
    @include transition(all .2s ease-in-out);

    @include scale(1.15);
    cursor: pointer;

    z-index: 2;
  }
}

.work-element-image {
  display: block;
  margin: auto;
  width: 100%;

  z-index: 1;
}

.work-element-content {
  position: relative;
  z-index: 100;
}
