.work {
  background-color: $work-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  hr {
    flex: 0;
    flex-basis: auto;
    margin: 0;
  }
}

.work-container {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  flex: 1;

  width: 100%;
  height: auto;
  margin-bottom: calc(3rem + 5%);
}

.work-element-wrapper {
  flex: 0;
  position: relative;

  text-align: center;
  vertical-align: middle;

  flex: 1;
  min-width: 40%;
  max-width: 40%;

  @include breakpoint1 {
    min-width: 80%;
    max-width: 80%;
  }

  @include transition(all .2s ease-in-out);

  &:hover{
    @include transition(all .2s ease-in-out);

    cursor: pointer;

    z-index: 2;

    .work-element-content {
      opacity: 1;
    }
  }
}

.work-element {
  padding-bottom: calc(9 / 16 * 100%);
}

.work-element-image {
  display: block;
  position: absolute;
  top:0;
  margin: auto;

  width: 100%;

  z-index: 1;

  img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto 0;
    width: 100%;
  }
}

.work-element-content {
  position: absolute;
  z-index: 100;

  opacity: 0;
}
