<div class = "extraContent">
  <p>
  I have some unrelated to work facets you might find interesting.
  </p>
  <p>
  I have been playing videogames for 16 years, that's with no doubt my biggest hobby. At
  the age of 11 I decided I wanted to learn to make that I loved so much. So I started
  playing around with game engines like Scratch, RPG Maker and GameMaker. This, combined
  with my experience as videogames journalist, means that I have a very deep knowledge of
  the videogames industry from three different standpoints: developer, journalist and player.
  </p>
  <p>
  I'm very passionate for all strength sports, and I am myself a calisthenics athlete,
  <a class = "link" href="{{ site.links.instagram }}" target="_blank">here</a>
  you can see what I do. I have been training for almost 4 years now, and even if that
  may not have a direct relation with my work, I find it a clean proof of my dedication
  to things I love. I also played basketball for 8 years and figure skating for 3.
  </p>
</div>
