.container {
  display: block;
  position: relative;
  flex: 1;

  width: 100%;
  min-width: 100%;
  min-height: 100vh;

  overflow: hidden;

  font-size: 2.1rem;

  @include transition(all .2s ease-in-out);

  @include breakpoint1 {
    @include transition(all .2s ease-in-out);
    font-size: calc(10% + 1.6rem);
  }
}

hr {
  height: 5px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 15;

  border: none;
  background-color: $font_color;
}

.section-title {
  font-family: titlesFont;
  text-align: center;
  font-size: 3.5rem;
  border-radius: 0 0 0.6rem 0.6rem;

  width: calc(18rem + 20%);
  max-width: 65%;
  margin: auto;
  padding: calc(2rem + 1.2%) 0 1.3rem 0;
  margin-bottom: calc(1rem + 1%);
  left: 0;

  color: $shock_color;

  @include breakpoint1 {
    font-size: 2.3rem;
    width: 65%;
  }

  h1::first-letter {
    color: $details_color;
    font-size: 1.25em;
  }
}

.section-arrow {
  position: absolute;
  text-align: center;
  bottom: 1.3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5;

  border: solid $details_color;
  border-width: 0 3px 3px 0;
  display: inline-block;

  @include rotate(45)

  text-decoration: none;
  outline: none;

  width: 2rem;
  height: 2rem;
  border-radius: 5%;

  @include transition(all .2s ease-in-out);

  &:hover {
    @include transition(all .3s ease-in-out);
    cursor: pointer;
    outline: none;

    @include scale(1.2)
    border-width: 3px 3px 3px 3px;
    border-color: $shock_color;
    background-color: $extra_color;
  }

  &:focus{
    outline: none;
  }

  @include breakpoint1 {
    width: 1.3rem;
    height: 1.3rem;
  }

}
