.container {
  flex: 1;
  min-height: 100%;
}

@import 'sections/_welcome';

.about {
  background-color: purple;
}

.work {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
}

.skills {
  background-color: white;
}


.contact {
  background-color: green;
}
