.layout {
  position: relative;
  background-color: $secondary-color;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 100%;

  height: auto;
  min-height: 100%;

  overflow-x: hidden;
}
