// Default colors
$primary_color: #2c2c2c;
$secondary_color: #5424C1;

$details_color: #DF1474;
$shock_color: #F4FD6E;
$extra_color: #9218BD;
$font_color: #e4e4e4;

$link_color: $details_color;

// Other parameters
$work_overlay_alpha: 0.9;

// Shadows
$default-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
$title-box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.7);
$glow-shadow: 0px 0px 0.8rem 0.4rem rgba(238, 226, 196, 0.7);
$empty-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

$breakpoint1: 960px;
