$welcome_color: #5F46A0;
$welcome_foot_color: #A0522D;
$about_color: #A68AF0;
$work_color: #DC80EF;
$skills_color: #893B9A;
$contact_color: #433074;
$footer_color: #A68AF0;

$arrow_color: white;
$arrow_animation_background: rgba(0, 0, 0, 0.45);
$shock_color: #E9D056;
$work_overlay_alpha: 0.5;

$default-box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.7);

$breakpoint1: 900px;
