/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, button, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: hero;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1{
	font-size: 5rem;
	color: black;
}
h2{
	font-size: 3.3rem;
	color: white;
}
h3{
	font-size: 2.1rem;
}
p{
	padding: 1em 0;
}
body {
	line-height: 1;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.section{
	color: #b2d1ff;
	font-size: 1.2rem;
	text-align: center;
	padding: 3.3rem 0;
}
.wholePage{
	background-color: #1e1e1e;
}
.abilitiesBlock{
	padding: 1.4rem 0rem;
}
.banner {
	position: relative;
	padding: 4.1rem 0 0 0;
	margin: 0;
	color: black;
}
@font-face {
    font-family: 'prime'; /*a name to be used later*/
    src: url('./fonts/Prime Regular.otf'); /*URL to font*/
}
@font-face {
    font-family: 'hero'; /*a name to be used later*/
    src: url('./fonts/Hero.otf'); /*URL to font*/
}
.button{
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}
.button:hover{
	cursor: pointer;
	opacity: 0.5;
}
.navbar{
	background-color: white;
	-webkit-box-shadow: 0 0.6rem 0.4rem -0.4rem #000;
    -moz-box-shadow: 0 0.6rem 0.4rem -0.4rem #000;
    box-shadow: 0 0.6rem 0.4rem -0.4rem #000;
}
.navbar-text{
	font-size: 2rem;
	padding: 0 0 0 2rem;
}
.navbar-brand{
	font-size: 2.5rem;
}
.nav-item a{
	font-size: 1.15rem;
}
.work-element{
	max-width: 24em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.about{
	text-align: left;
	max-width: 25rem;
	position:relative;
	left: 10%;
	display: inline-block;
	text-align: center;
}
.contactContent{
	max-width: 15em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}.extraContent{
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 1%;
}