<p>
Hola! Mi nombre es Sergio, Soy un desarrollador de videojuegos/software autónomo.
Empecé a programar a los 11 años, impulsado únicamente por la curiosidad.
No pude no amarlo, desde ese momento he estado programando sin pausa.
</p>

<p>
Estoy centrado principalmente en el desarrollo de videojuegos, pero hace unos
años empecé a expandir mis horizontes. Comencé a intersarme en
el desarrollo para Android y web. Eso me permitió adquirir un
conocimiento mucho más profundo de las tecnologías usadas a día de hoy.
Es por esto que me puedo mover en ambos campos, front-end y back-end,
lo que me permite ser un desarrollador Full Stack.
</p>