<p>
Hola! Mi nombre es Sergio, Soy un desarrollador y traductor autónomo.
Empecé a programar a los 11 años, impulsado únicamente por la curiosidad.
No pude evitar amarlo, desde ese momento he estado programando sin pausa.
Durante años, me dediqué al desarrollo de videojuegos, experimentando con
diferentes entornos y lenguajes.
</p>

<p>
Hace unos años, expandí mis horizontes y me empecé a interesar en
el desarrollo para Android y web. Eso me permitió adquirir un
conocimiento mucho más profundo de las tecnologías usadas a día de hoy.
Es por esto que me puedo mover en ambos campos, front-end y back-end,
lo que me permite ser un desarrollador Full Stack.
</p>
<p>
Mientras aprendía a programar, empecé a construir una fuerte relación
con el inglés. Empecé a usarlo para todo, hasta que llegué al punto en el
cual era capaz de traducir lo que quería sin esfuerzo, así que empecé a
trabajar como traductor.
</p>
