
<!-- Regular metadata -->
<meta name = "author" content = "Sergio Abreu García">
<meta name = "description" content = "Sergio Abreu García, developer/translator personal webpage">
<meta name = "revised" content = "Sunday, February 11, 2018, 14:30 pm">
<meta name = "keywords" content = "developer, translator, freelancer, programmer, web, back-end, front-end, spanish, english, galician, videogames">

<!-- Facebook metadata -->
<meta property="og:url" content="https://www.sag-dev.com">
<meta property="og:image" content="https://www.sag-dev.com/assets/images/aboutImage.png">
<meta property="og:description" content="Sergio Abreu García, developer/translator personal webpage">
<meta property="og:title" content="Sergio Abreu García">
<meta property="og:site_name" content="Sergio Abreu García">
<meta property="og:see_also" content="https://www.sag-dev.com">

<!-- Twitter metadata -->
<meta name="twitter:card" content="Sergio Abreu García, developer/translator personal webpage">
<meta name="twitter:url" content="https://www.sag-dev.com">
<meta name="twitter:title" content="Sergio Abreu García">
<meta name="twitter:description" content="Sergio Abreu García, developer/translator personal webpage">
<meta name="twitter:image" content="https://www.sag-dev.com/assets/images/aboutImage.png">
