<div class = "extraContent">
  <p>
  Teño algunhas facetas non relacionadas co traballo que pode que atopes
  interesantes.
  </p>
  <p>
  Levo xogando videoxogos 16 anos, ese é sin duda meu maior hobby. Aos 11 anos
  decidín que quería aprender a facer aquilo que tanto me gustaba. Así que
  empecei a experimentar con motores de xogo tales que Scratch, RPG Maker ou
  GameMaker. Isto, combinado coa miña experiencia como periodista de videoxogos,
  significa que teño un coñecemente moi profundo da industria desde tres puntos
  de vista diferentes: desarrollador, periodista e xogador.
  </p>
  <p>
  Apasiónanme todos os deportes de forza, e eu mismo son atleta de calistenia,
  <a class = "link" href="{{ site.links.instagram }}" target="_blank">aquí</a>
  podes ver o que fago. Levo entrenando casi catro anos agora, e incluso se iso non
  ten unha relación directa co meu traballo, entendo que é una clara proba da miña
  dedicación ás cosas que amo. Tamén xoguei ao baloncesto por 8 anos e practiquei
  patinaxe artístico por 3.
  </p>
</div>
