<p>
I wanted to try finish some little game using LibGDX. The idea was to make a very short
classic RPG, just to know more about the library and learn along the way. Since it was
an improvised project and nothing was fixed, it went crazy pretty fast. The final result
is a crazy game that makes little sense; but it achieved its objective of teaching me
how to use LibGDX fully.
</p>

<a href = "{{ site.links.iTriedToMakeAnRpg }}" target="_blank">
  <img class="defaultImage button"  src="./assets/images/iTriedToMakeAnRpgImage.png"
  alt="itriedtomakeanrpgimage" style="width: calc(13rem + 8vw); float: none;">
</a>