<p>
While on college, a friend of mine and me decided to do a Kid Icarus reduced version. To do so,
we used HTML, Javascript, Phaser and NodeJS. The whole project is available and open
<a class = "link" href = "{{ site.links.githubKidIcarus }}" target="_blank">on Github</a>
,where you can also
<a class = "link" href = "{{ site.links.githubKidIcarusPlay}}" target="_blank">play it directly</a>
through Gihub Pages.
</p>
<img class="defaultImage"  src="./assets/images/kidicarusImage.jpg"
  alt="kidicarusImage" style="width: calc(11rem + 7.5vw); float: none;">
<p>
The main focus of the development is on the programming part, as we were not game designers and
that was not the point of the project. Being this so, our first priority was to make a solid
and scalable software arquitecture while learning more about the technologies we were using.
</p>
