<p>
I have been a self-taught programmer for more than a decade, and a self-taught translator for almost
3 years. That's not going to stop now, not ever. I'm always willing to learn more, to do more and to
be better at what I do. If you want to propose me a project, do not hesitate to
<a class = "link scroll" href = "#contact">contact me!</a>
</p>
<p>
As for personal projects, I'm right now working on different things. I'm creating a tilemap editor
in Python using Tkinter and JSON. I'm also diving in front-end development using Jquery and Bootstrap
as my chief technologies. Furthermore, I have some Android [Java] applications being developed which I will deploy to
the Play Store when finished.
</p>
