<p>
This own site is, of course, one of my works as a programmer and web-developer. I find having a
personal website is one of the best things you can do as a freelancer. It's the entry point from
which people can know who you are, what you do and how to get in touch.
</p>
<p>
Hence, the moment I went freelancer, the first obvious thing to do was this webpage. I approached it
from a modern perspective; being elegance, minimalism and responsiveness the main pillars of
the project.
</p>
<p>
You can see the whole development <a class="link" href = "{{ site.links.githubPersonalWebpage }}" target="_blank">on my Github.</a>
</p>
