<p>
I have always been a huge lover of videogames and literature. Mixing those two at some point seemed
to be a logical step on my path. Some random day I found the opportunity to make a trial for a
videogames digital magazine, no doubt I had to try. After passing, I started working as a videogames
journalist.
</p>
<a href = "https://www.gamelegant.com/author/saggamedeveloper/" target="_blank">
  <img class="defaultImage button"  src="./assets/images/gamelegantImage.png"
  alt="gamelegantImage" style="width: calc(6rem + 5vw); float: none;">
</a>
<p>
After 3 months, I found that was not what I have expected, so I quited. Even so, while working there
I learned quite a lot about writing and delivering professional quality content. Moreover, I had to translate
quite a lot from english [news, declarations, interviews] to spanish, adquiring then solid translation skills.
</p>
<p>
<a class = "link" href = "https://www.gamelegant.com/la-situacion-del-doblaje-videojuegos/" target="_blank">Here</a>
you have one of my finest works [in spanish].
</p>
