<p>
Hello! My name is Sergio, I'm a freelancer developer and translator.
I started programming at the age of 11, driven just by curiosity.
I couldn't but love it, from that moment on I have been programming
non-stop. For some years, I dedicated myself to videogames development,
experimenting with different environments and languages.
</p>

<p>
Some years ago, I expanded my horizons and became interested
in Android development and web development. That allowed me
to adquire a much deeper knowledge of the technologies used
nowadays. This is why I can move both on front-end and back-end
fields, allowing me to become a Full Stack developer.
</p>
<p>
While learning to program, I began to build a strong relationship
with the english language. I started to use it for everything, until
I came to the point where I had the ability to translate everything I wanted with
no effort, so I started working as a translator.
</p>
