<p>
Hello! My name is Sergio, I'm a freelancer videogames/software developer.
I started programming at the age of 11, driven just by curiosity.
I couldn't but love it; from that moment on I have been programming
non-stop.
</p>

<p>
I'm mainly focused on videogames developement, but some years ago
I started expanding my horizons. I became interested
in Android development and web development. That allowed me
to acquire a much deeper knowledge of the technologies used
nowadays. This is why I can move both on front-end and back-end
fields, allowing me to become a Full Stack developer.
</p>