<p>
Quería probar a acabar algún xogo pequeno usando LibGDX. A idea era facer un
RPG de estilo clásico moi cortiño, simplemente para coñecer máis a librería e
aprender polo camiño. Dado que era un proxecto improvisado e non había nada fixo,
a cousa torceuse moito e moi rapidamente. O resultado final é un xogo bastante loco
e con máis ben pouco sentido; pero que cumpliu o seu obxectivo de ensinarme a usar
LibGDX ao completo.
</p>

<a href = "{{ site.links.iTriedToMakeAnRpg }}" target="_blank">
  <img class="defaultImage button"  src="./assets/images/iTriedToMakeAnRpgImage.png"
  alt="itriedtomakeanrpgimage" style="width: calc(6rem + 5vw); float: none;">
</a>