<p>
Mentres estaba na universidade, un amigo e mais eu decidimos facer una versión reducida de
Kid Icarus. Para facelo, utilizamos HTML, Javascript, Phaser e NodeJS. O proxecto completo
está disponible e aberto
<a class = "link" href = "{{ site.links.githubKidIcarus }}" target="_blank">en Github</a>
, onde ademais podes
<a class = "link" href = "{{ site.links.githubKidIcarusPlay}}" target="_blank">xogalo directamente</a>
a través de Github Pages.
</p>

<img class="defaultImage"  src="./assets/images/kidicarusImage.jpg"
  alt="kidicarusImage" style="width: calc(11rem + 7.5vw); float: none;">

<p>
O foco principal do desarrollo estaba posto na programación, dado que non éramos diseñadores
e ese non era o obxectivo do proxecto. Polo tanto, a nosa primeira prioridade era facer unha
arquitectura de software sólida e escalable, mentres seguíamos aprendendo sobre as tecnoloxías
que estábamos a usar.
</p>
