<p>
Levo sendo programador autodidacta máis dunha década, e tradutor autodidacta por casi 3 anos.
Iso é algo que non vai parar agora. Sempre estou tratando de aprender máis, de facer máis e de
ser mellor no que fago. Se queres propoñerme un proxecto, non dudes
<a class = "link scroll" href = "#contact">en contactarme!</a>
</p>
<p>
No que respecta aos proxectos persoais, estou agora mesmo traballando en diferentes cousas. Estou
a facer un editor de tilemaps en Python utilizando Tkinter y JSON. Tamén estou profundizando no
desarrollo front-end usando Jquery e Bootstrap como as miñas tecnoloxías principais. Ademais, teño
algunhas aplicacións de Android [Java] en desarrollo, as cales chegarán á Play Store cando estén
rematadas.
</p>
