<p>
Esto propio sitio é, por suposto, uno dos meus traballos como programador e desarrollador web.
Atopo que ter unha páxina web persoal é unha das mellores cousas que podes facer como autónomo.
É o punto de entrada a partir do cal os demais poden saber quen eres, que fas e como contactarte.
</p>
<p>
Así pois, no momento que me fixe autónomo, o primeiro por facer era obviamente esta páxina web.
Enfoqueina desde una perspectiva moderna; sendo a elegancia, o minimalismo e a adaptabilidade os
pilares principales do proxecto.
</p>
<p>
Podes ver todo o deasrrollo <a class="link" href = "https://github.com/SAGGameDeveloper/Personal-Webpage" target="_blank">no meu Github.</a>
</p>
