<p>
<a class = "link" href = "https://play.google.com/store/apps/details?id=com.SAG.TheTryangle" target="_blank">Este</a>
foi o primer proxecto que rematei como programador. Empecei cando tiña 14 anos e acabei un ano e medio despois,
traballando unicamente no meu tempo libre. Nun principio, o fixen en GameMaker, pero na mitade do desarrollo
decidín movr todo o proxecto a Unity. Polo tanto, aprendín c# e refixen o xogo desde as bases usando as
[novas] características 2D de Unity. Cando tiña 17 anos finalmente decidinme a publicalo.
<p>
Tendo en conta a idade e experiencia que tiña cando o fixen; nin o deseño, nen o deseño gráfico,
nen a programación son unha representación real das miñas habilidades actuais. Sen embargo, para o
coñecemento que tiña pola época, o considero unha proba excelente da miña vocación e dedicación.
</p>
