<p>
<a class = "link" href = "https://play.google.com/store/apps/details?id=com.SAG.TheTryangle" target="_blank">This</a>
was the first project I ended as a programmer. I started it when I was 14 years old
and finished half a year later, working only in my spare time. Initially, it was done using
GameMaker, but in the middle of the development, I decided to move the whole game to Unity.
Therefore, I learned C# and remaked the game from scratch using the [new] 2D features of Unity.
I finally decide to publish it at the age of 17.
</p>
<p>
Given the age I was and the experience I had when I did it; nor the design, nor the graphic design, nor
the programming is an actual representation of my current abilities. Still, for the knowledge I had
at the time, I find it to be an excelent proof of my vocation and dedication.
</p>
