<p>
Sempre fun un gran amante dos videoxogos e da literatura. Mezclar os dous nalgún momento
parecía un paso lóxico no meu camiño. Un día calquera, atopei a oportunidade de facer
unha proba para unha revista dixital de videoxogos, sen duda tiña que intentalo. Tras pasar,
empecei a traballar como periodista de videoxogos.
</p>

<a href = "{{ site.links.gamelegantAuthor }}" target="_blank">
  <img class="defaultImage button"  src="./assets/images/gamelegantImage.png"
  alt="gamelegantImage" style="width: calc(6rem + 5vw); float: none;">
</a>

<p>
Tras tres meses, dinme conta de que non era o que esperaba, así que o deixei. Aínda así, mentres
traballaba alí aprendín un montón sobre escribir e entregar contenido de calidade profesional.
Ademais, tiven que traducir un montón do inglés [noticias, declaraciones, entrevistas] ao español,
adquirindo unhas habilidades de tradución sólidas.
</p>
<p>
<a class = "link" href = "{{ site.links.gamelegantArticle }}" target="_blank">Aquí</a>
tes un dos meus mellores traballos.
</p>
