
<!-- Regular metadata -->
<meta name = "author" content = "Sergio Abreu García">
<meta name = "description" content = "Sergio Abreu García, desarrollador de videojuegos/software, página web personal">
<meta name = "revised" content = "Martes, 24 de julio, 2018, 14:00 pm">
<meta name = "keywords" content = "desarrollador, videojuegos, software, autónomo, programador, web, back-end, front-end, español, inglés, gallego">

<!-- Facebook metadata -->
<meta property="og:url" content="https://www.sag-dev.com">
<meta property="og:image" content="https://www.sag-dev.com/assets/images/aboutImage.png">
<meta property="og:description" content="Sergio Abreu García, desarrollador de videojuegos/software, página web personal">
<meta property="og:title" content="Sergio Abreu García">
<meta property="og:site_name" content="Sergio Abreu García">
<meta property="og:see_also" content="https://www.sag-dev.com">

<!-- Twitter metadata -->
<meta name="twitter:card" content="Sergio Abreu García, desarrollador de videojuegos/software página web personal">
<meta name="twitter:url" content="https://www.sag-dev.com">
<meta name="twitter:title" content="Sergio Abreu García">
<meta name="twitter:description" content="Sergio Abreu García, desarrollador de videojuegos/software página web personal">
<meta name="twitter:image" content="https://www.sag-dev.com/assets/images/aboutImage.png">
