//
// Global
// --------------------------------------------------

html,
body {
  overflow-x: hidden;

  @media (max-width: $screen-xs-max) {
    padding-right: 0;
  }

  * {
	@include transition(all 0.2s);
  }
}

a {
  @include transition(all 0.2s);
  text-decoration: underline;
  text-decoration-color: $light;
  color: $light;

  &:hover {
	color: $color4;
	text-decoration-color: $color4;
  }
}

hr {
	margin: 0;
}

.brandLogo {
  padding: 0;
  color: $light;
  font-family: titleFont
}

.brandLogo--small {
  width: auto;
  height: auto;
}

.brandLogo--black {
  background-image: url(../images/logo-black.svg);
}

.textLogo-image {
  display: block;
  background-image: url(../images/logo-text-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0;
  text-indent: -100em;
  overflow: hidden;
  
  width: 276px;

  @media (max-width: $screen-xs-max) {
    width: 182px;
  }
}

.textLogo {
  display: block;
  padding: 0;
  color: $light;
  font-family: titleFont;
  text-align: center;
  background-position: 0 0;
  background-size: contain;
  
  font-size: 4.5rem;
  font-weight: 400;

  @media (max-width: $screen-xs-max) {
    font-size: 3.2rem;
  }
}

.textLogo--white {
  background-image: url(../images/logo-text-white.svg);
}

.textLogo--sidebar {
  width: 100%;
  height: auto;
  background-size: contain;
  background-position: center;
  opacity: 0.8;

  font-size: 3rem;
  color: $light;
  text-decoration: none;
  
  @media (max-width: $screen-xs-max) {
    font-size: 2.5rem;
  }
  
  &:hover {
    opacity: 1;
  }
}

.textLogo--frontpage {
  z-index: $zIndex-5--textlogo-frontpage;
  margin: auto;
}

.container-frontpage {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 90%;
  
  @media (max-width: $screen-xs-max) {
    top: 50px;
  }
}