<div class = "extraContent">
  <p>
  Tengo algunas facetas no relacionadas con el trabajo que puede que encuentres
  interesantes.
  </p>
  <p>
  Llevo jugando videojuegos 16 años, ese es sin duda mi mayor hobby. A los 11 años
  decidí que quería aprender a hacer aquello que tanto me gustaba. Así que empecé a
  experimentar con motores de juego tales que Scratch, RPG Maker o GameMaker. Esto,
  combinado con mi experiencia como periodista de videojuegos, significa que tengo un
  conocimiento muy profundo de la industria desde tres puntos de vista diferentes:
  desarrollador, periodista y jugador.
  </p>
  <p>
  Me apasionan todos los deportes de fuerza, y yo mismo soy atleta de calistenia,
  <a class = "link" href="https://www.instagram.com/sergio_calisthenics/" target="_blank">aquí</a>
  puedes ver lo que hago. He estado entrenando por casi cuatro años ahora, e incluso si
  eso no tiene una relación directa con mi trabajo, entiendo que es una clara prueba
  de mi dedicación a las cosas que amo. También jugué al baloncesto por 8 años y practiqué
  patinaje artístico por 3.
  </p>
</div>
