<!DOCTYPE html>
<html lang="{{ page.lang }}" class="no-js">

  {% include head.html %}

  <body>
    {% if page.title ==  "Home" %}
      {% include blog-link.html %}
	    {% include work-overlay.html %}
	  {% else %}
	    {% include portfolio-link.html %}
    {% endif %}

    {{ content }}

    {% if page.title !=  "Blog" %}
	   <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
      {% include sidebar-nav.html %}
      {% include sidebar-toggle.html %}
    {% endif %}

    {% if page.title !=  "Oops..." %}
	    {% include footer.html footer=page.footer %}
    {% endif %}

    {% include footer-scripts.html %}
  </body>
</html>
