<!DOCTYPE html>

<html lang="{{ page.lang }}" xml:lang="{{ page.lang }}">
	<head id = "title">
		<title>{{ page.title }}</title>

		<!-- Include the language dependant head section -->
		{% include {{page.lang}}/head.html %}

		<!-- Anti-spam link-->
		<link rel="canonical" href="https://www.sag-dev.com" />

		<!-- Character codification -->
		<meta charset="utf-8"/>

		<!-- JQuery and Bootstrap import -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<!-- Own scripts -->
		<script src="./assets/scripts/scrollJQuery.js"></script>
		<script src="./assets/scripts/collapseOnClickJQuery.js"></script>

		<!-- Font awesome icons -->
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		<!-- Own stylesheet -->
		<link rel = "stylesheet" type = "text/css" href = "./assets/css/style.css">
	</head>

	<body>

		<!-- Top navigation bar -->
		<nav class = "navbar fixed-top navbar-expand-lg navbar-light bg-faded">

			<!-- Logo and name -->
			<a class="navbar-brand scroll" href="#home">SAG</a>
			<p class = "navbar-text">Sergio Abreu <span class = "garcia">García</span></p>

			<!-- Collapsible menu button -->
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Collapsible menu -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- List of links (main elements of the bar) -->
				<ul class = "navbar-nav ml-auto">
					<li class="nav-item"><a class = "nav-link scroll" href = "#about">{{site.languages[page.lang].about}}</a></li>
					<li class="nav-item"><a class = "nav-link scroll" href = "#abilities">{{site.languages[page.lang].abilities}}</a></li>
					<li class="nav-item"><a class = "nav-link scroll" href = "#work">{{site.languages[page.lang].work}}</a></li>
					<li class="nav-item"><a class = "nav-link scroll" href = "#contact">{{site.languages[page.lang].contact}}</a></li>
					<li class="nav-item"><a class = "nav-link scroll" href = "#extra">{{site.languages[page.lang].extra}}</a></li>
				</ul>
			</div>
		</nav>

		<div class= "wholePage">
			<!-- Top banner with the description over the image -->
			<div class = "banner" id = "home">
				<p>
					<!-- Main image of the page -->
					<img src = "./assets/images/mainImage.jpg" alt = "Main image" style = "display: block; margin-left: auto; margin-right: auto;"/>

					<!-- Language selector -->
					<div class="flagsContainer">
						<a href="./index.html"><img class="flag" src="./assets/images/englishFlag.svg" style="top: 7%; left: 0"></img></a>
						<a href="./index_es.html"><img class="flag" src="./assets/images/spanishFlag.svg" style="top: 7%; left: 50%"></img></a>
						<a href="./index_gl.html"><img class="flag" src="./assets/images/galicianFlag.svg" style="top: 7%; left: 100%"></img></a>
					</div>

					<!-- Slogan -->
					<h1 style = "position: absolute; top: 25%; left: 12%; text-align: center; max-width: calc(12rem + 13vw);">
						{{site.languages[page.lang].slogan}}
					</h1>

				</p>
			</div>

			<!-- Separator -->
			<img class = "button scroll arrow" href = "#about" src = "./assets/images/arrow.png" alt = "Arrow" width = "30" height = "18"
			style = "position: relative; top: -6vw;">

			<div class = "section" type = "about" id = "about" >
				<p style="float:left;">
					<h2>{{site.languages[page.lang].about}}</h2>

					<img class="defaultImage" src="./assets/images/aboutImage.png" alt="aboutImage" style="width: calc(11rem + 8vw);">

					{% include {{page.lang}}/about/about.html %}

				</p>
			</div>

			<!-- Separator -->
			<img class = "button scroll arrow" href = "#abilities" src = "./assets/images/arrow.png" alt = "Arrow" width = "30" height = "18">
			<hr/>

			<div class = "section" id = "abilities">
				<p>
					<h2>{{site.languages[page.lang].abilities}}</h2>

					<div class = "abilitiesBlock">
						<h3>{{site.languages[page.lang].languages}}</h3>
						<br />

						{% include {{page.lang}}/abilities/languages.html %}
					</div>

					<div class = "abilitiesBlock">
						<h3>{{site.languages[page.lang].programmingLanguages}}</h3>
						<br />

						{% include {{page.lang}}/abilities/programmingLanguages.html %}
					</div>

					<div class = "abilitiesBlock">
						<h3>{{site.languages[page.lang].technologies}}</h3>
						<br />

						{% include {{page.lang}}/abilities/technologies.html %}
					</div>
				</p>
			</div>

			<!-- Separator -->
			<img class = "button scroll arrow" href = "#work" src = "./assets/images/arrow.png" alt = "Arrow" width = "30" height = "18">
			<hr/>

			<div class = "section" id = "work">
				<h2>{{site.languages[page.lang].work}}</h2>
				<br/>

				<!-- Each element of a work section is basically a button which collapses/expandas its content -->
				<a class="btn btn-primary" data-toggle="collapse" href="#webpage" aria-expanded="false" aria-controls="webpage">{{site.languages[page.lang].personalWebpage}}</a>
				<div class = "collapse work-element" id = "webpage">
					{% include {{page.lang}}/work/personalWebpage.html %}
				</div>

				<br/>

				<a class="btn btn-primary" data-toggle="collapse" href="#tryangle" aria-expanded="false" aria-controls="tryangle">{{site.languages[page.lang].theTryangle}}</a>
				<div class = "collapse work-element" id = "tryangle">

					<img class="defaultImage" src="./assets/images/tryangleImage.png" alt="tryangleImage" style="width: calc(6rem + 5vw); float: left;">

					{% include {{page.lang}}/work/theTryangle.html %}
				</div>

				<br/>

				<a class="btn btn-primary" data-toggle="collapse" href="#kidicarus" aria-expanded="false" aria-controls="kidicarus">{{site.languages[page.lang].kidIcarus}}</a>
				<div class = "collapse work-element" id = "kidicarus">
					{% include {{page.lang}}/work/kidIcarus.html %}
				</div>

				<br/>

				<a class="btn btn-primary" data-toggle="collapse" href="#videogamesjournalism" aria-expanded="false" aria-controls="videogamesjournalism">{{site.languages[page.lang].videogamesJournalism}}</a>
				<div class = "collapse work-element" id = "videogamesjournalism">
					{% include {{page.lang}}/work/videogamesJournalism.html %}
				</div>

				<br/>

				<a class="btn btn-primary" data-toggle="collapse" href="#muchmore" aria-expanded="false" aria-controls="muchmore">{{site.languages[page.lang].muchMore}}</a>
				<div class = "collapse work-element" id = "muchmore">
					{% include {{page.lang}}/work/muchMore.html %}
				</div>
			</div>

			<!-- Separator -->
			<img class = "button scroll arrow" href = "#contact" src = "./assets/images/arrow.png" alt = "Arrow" width = "30" height = "18">
			<hr/>

			<div class = "section" id = "contact">
				<h2>{{site.languages[page.lang].contact}}</h2>

				<div class = "contactContent">
					{% include {{page.lang}}/contact/contact.html %}

					<!-- Links to social media -->
					<p>
						<a href="https://github.com/SAGGameDeveloper" class="fab fa-github" target="_blank"></a>
						<a href="https://linkedin.com/in/sergio-abreu-garcía-826520159" class="fab fa-linkedin" target="_blank"></a>
						<a href="https://t.me/SAGGameDeveloper" class="fab fa-telegram" target="_blank"></a>
						<a href="mailto:saggamedeveloper@gmail.com" class="fa fa-envelope" target="_blank"></a>
						<br/>
						<a href="https://www.facebook.com/people/Sergio-Abreu-Garc%C3%ADa/100015351933101" class="fab fa-facebook" target="_blank"></a>
						<a href="https://www.instagram.com/sergio_calisthenics/" class="fab fa-instagram" target="_blank"></a>
						<a href="#discord" class="fab fa-discord " data-toggle="collapse" aria-expanded="false" aria-controls="muchmore" data target="_blank"></a>
						<div class = "collapse" id = "discord">Mutur#3706</div>
					</p>
				</div>
			</div>

			<!-- Separator -->
			<img class = "button scroll arrow" href = "#extra" src = "./assets/images/arrow.png" alt = "Arrow" width = "30" height = "18">
			<hr/>

			<div class = "section" id = "extra" style="margin-bottom: 0; padding-bottom: 3rem;">
				<h2>{{site.languages[page.lang].extra}}</h2>

				{% include {{page.lang}}/extra/extra.html %}
			</div>
		</div>

		<!-- Bottom bar -->
		<nav class = "navbar navbar-expand-md navbar-light bg-faded bottomBar">
			{% include {{page.lang}}/bottomBar.html %}
		</nav>

	</body>
</html>
