---
layout: default
---
<article class="postWrapper">
  <section class="section--first u-table">
    <div class="section-backgroundImage">

      {% if page.image.feature %}
        <img class="post-featuredImage" src="{{ site.baseurl }}{{ site.baseurl_featured_img }}{{ page.image.feature }}" style="
        {% if page.image.topPosition %}
          top:{{ page.image.topPosition }};
        {% endif %}
        " alt="">
      {% endif %}

    </div>
    <div class="section-gradient
    {% if page.bgGradientOpacity == "darker" %}
      section-gradient--darker
    {% elsif page.bgGradientOpacity == "lighter" %}
      section-gradient--lighter
    {% endif %}
    "></div>
    <div class="section-title u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>{{ page.title }}</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-datetime">
              <time datetime="{{ page.date }}">
                {% assign m = page.date | date: "%-m" %}
				{{ page.date | date: "%-d" }}
				{% case m %}
				  {% when '1' %}ENE
				  {% when '2' %}FEB
				  {% when '3' %}MAR
				  {% when '4' %}ABR
				  {% when '5' %}MAY
				  {% when '6' %}JUN
				  {% when '7' %}JUL
				  {% when '8' %}AGO
				  {% when '9' %}SEP
				  {% when '10' %}OCT
				  {% when '11' %}NOV
				  {% when '12' %}DIC
				{% endcase %}
				{{ page.date | date: "%Y" }}
              </time>
            </li>
            <li class="postMeta-author">
              By <a href="{{ site.baseurl }}/">{{ site.author.name }}</a>
            </li>
            <li class="postMeta-tags">
              {{ page.categories }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">

        {{ content }}

      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
    <div class="container container--content">
      <div class="content-body">
        {% include comments.html %}
      </div>
    </div>
  </section>

  <footer class="postFooter">
    {% if page.previous.url %}
      <section class="section--prePost is-darkBackgrounded u-table">
        <div class="section-backgroundImage section-backgroundImage--previousPage">
          <img class="post-featuredImage"
          {% if page.previous.image.feature %}
            src="{{ site.baseurl }}{{ site.baseurl_featured_img }}{{ page.previous.image.feature }}"
          {% endif %}
          style="top:0" alt="">
        </div>
        <div class="section-gradient
        {% if page.previous.bgGradientOpacity == "darker" %}
          section-gradient--darker
        {% elsif page.previous.bgGradientOpacity == "lighter" %}
          section-gradient--lighter
        {% endif %}
        "></div>
        <div class="section-title u-tableCell u-verticalAlignMiddle">
          <div class="container">
            <h4>Next story:</h4>
            <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}">
              <h2>{{page.previous.title}}</h2>
            </a>
          </div>
        </div>
      </section>
    {% endif %}
  </footer>
</article>

{% include subscribe.html %}
{% include contact.html %}
{% include modal.html %}
