<p>
Quería probar a acabar algún juego pequeño usando LibGDX. La idea era hacer un
RPG de estilo clásico muy cortito, simplemente para conocer más la librería y 
aprender por el camino. Dado que era un proyecto improvisado y no había nada fijo,
la cosa se torció mucho y muy rápidamente. El resultado final es un juego bastante loco
y con más bien poco sentido; pero que cumplió su objetivo de enseñarme a usar LibGDX
al completo.
</p>

<a href = "{{ site.links.iTriedToMakeAnRpg }}" target="_blank">
  <img class="defaultImage button"  src="./assets/images/iTriedToMakeAnRpgImage.png"
  alt="itriedtomakeanrpgimage" style="width: calc(13rem + 8vw); float: none;">
</a>