<p>
Mientras estaba en la universidad, un amigo y yo decidimos hacer una versión reducida de
Kid Icarus. Para hacerlo, utilizamos HTML, Javascript, Phaser y NodeJS. El proyecto completo
está disponible y abierto
<a class = "link" href = "{{ site.links.githubKidIcarus }}" target="_blank">en Github</a>
, dónde además puedes
<a class = "link" href = "{{ site.links.githubKidIcarusPlay}}" target="_blank">jugarlo directamente</a>
a través de Github Pages.
</p>

<img class="defaultImage"  src="./assets/images/kidicarusImage.jpg"
  alt="kidicarusImage" style="width: calc(11rem + 7.5vw); float: none;">

<p>
El foco principal del desarrollo estaba puesto en la programación, dado que no éramos diseñadores
y ese no era el objetivo del proyecto. Por lo tanto, nuestra primera prioridad era hacer una
arquitectura de software sólida y escalable, mientras seguíamos aprendiendo sobre las
tecnologías que estábamos usando.
</p>
