<p>
He sido programador autodidacta por más de una década, y traductor autodidacta por casi 3 años.
Eso es algo que no va a parar ahora. Siempre estoy tratando de aprender más, de hacer más y de ser
mejor en lo que hago. Si quieres proponerme un proyecto, no dudes
<a class = "link scroll" href = "#contact">en contactarme!</a>
</p>
<p>
En lo que respecta a proyectos personales, estoy ahora mismo trabajando en diferentes cosas. Estoy
creando un editor de tilemaps en Python utilizando Tkinter y JSON. También estoy profundizando en
el desarrollo front-end usando Jquery y Bootstrap como mis tecnologías principales. Además, tengo
algunas aplicaciones de Android [Java] en desarrollo, las cuales llegarán a la Play Store cuando
estén terminadas.
</p>
