<p>
Este propio sitio es, por supuesto, uno de mis trabajos como programador y desarrollador web.
Encuentro que tener una página web personal es una de las mejores cosas que puedes hacer como
autónomo. Es el punto de entrada a partir del cual los demás pueden saber quién eres, qué haces
y cómo contactarte.
</p>
<p>
Así pues, en el momento que me hice autónomo, lo primero que hacer era obviamente esta página web.
Lo enfoqué desde una perspectiva moderna; siendo la elegancia, el minimalismo y la adaptabilidad
los pilares principales del proyecto.
</p>
<p>
Puedes ver todo el desarrollo <a class="link" href = "{{ site.links.githubPersonalWebpage }}" target="_blank">en mi Github.</a>
</p>
