<p>
<a class = "link" href = "{{ site.links.theTryangle }}" target="_blank">Este</a>
fue el primer proyecto que acabé como programador. Empecé cuando tenía 14 años y acabé un año y medio después,
trabajando únicamente en mi tiempo libre. En un principio, lo hice en GameMaker, pero en la mitad del desarrollo
decidí mover todo el juego a Unity. Por lo tanto, aprendí C# y rehice el juego desde las bases usando las
[nuevas] características 2D de Unity. Cuando tenía 17 años finalmente me decidí a publicarlo.
<p>
Teniendo en cuenta la edad y experiencia que tenía cuando lo hice; ni el diseño, ni el diseño gráfico,
ni la programación son una representación real de mis habilidades actuales. Sin embargo, para el conocimiento
que tenía por la época, lo considero una prueba excelente de mi vocación y dedicación.
</p>
