<p>
Siempre he sido un gran amante de los videojuegos y la literatura. Mezclar los dos en algún momento
parecía un paso lógico en mi camino. Un día cualquiera, encontré la oportunidad de hacer
una prueba para una revista digital de videojuegos, sin duda tenía que intentarlo. Tras pasar,
empecé a trabajar como periodista de videojuegos.
</p>

<a href = "https://www.gamelegant.com/author/saggamedeveloper/" target="_blank">
  <img class="defaultImage button"  src="./assets/images/gamelegantImage.png"
  alt="gamelegantImage" style="width: calc(6rem + 5vw); float: none;">
</a>

<p>
Tras tres meses, me di cuenta de que no era lo que me había esperado, así que lo dejé. Aún así,
mientras trabajaba ahí aprendí un montón sobre escribir y entregar contenido de calidad profesional.
Además, tuve que traducir un montón del inglés [noticias, declaraciones, entrevistas] al español,
adquiriendo unas habilidades de traducción sólidas.
</p>
<p>
<a class = "link" href = "https://www.gamelegant.com/la-situacion-del-doblaje-videojuegos/" target="_blank">Aquí</a>
tienes uno de mis mejores trabajos.
</p>
