<p>
Ola! O meu nome é Sergio, son un desarrollador e tradutor autónomo.
Empecei a programar aos 11 anos, impulsado unicamente pola curiosidade.
Non puiden evitar amalo, desde ese momento estiven programando sen pausa.
Durante anos, dediqueime ao desarrollo de videoxogos, experimentando con
diferentes entornos e linguaxes.
</p>

<p>
Fai uns anos, expandín os meus horizontes e empeceime a interesar no
desarrollo para Android e web. Isto permitiume adquirir un coñecemento
moito máis profundo das tecnoloxías utilizadas a día de hoxe. É por isto
que podo moverme en ambos campos, front-end e back-end, o que me permite
ser un desarrollador Full Stack.
</p>
<p>
Mentres aprendía a programar, empecei a construir unha forte relación co
inglés. Empecei a usalo para todo, ata que cheguei ao punto onde era
capaz de traducir o que quería sen esforzo, así que empecei a traballar
como tradutor.
</p>
