<p>
Ola! O meu nome é Sergio, son un desarrollador e tradutor autónomo.
Empecei a programar aos 11 anos, impulsado unicamente pola curiosidade.
Non puiden evitar amalo, desde ese momento estiven programando sen pausa.
</p>

<p>
Estou centrado principalmente no desarrollo de videoxogos, pero fai uns anos,
empeceia a expandir os meus horizontes. Comeceime a a interesar no
desarrollo para Android e web. Isto permitiume adquirir un coñecemento
moito máis profundo das tecnoloxías utilizadas a día de hoxe. É por isto
que podo moverme en ambos campos, front-end e back-end, o que me permite
ser un desarrollador Full Stack.
</p>