.flags {
  display: flex;
  flex-direction: row;
  text-align: right;

  position: absolute;
  top: 0;
  right: 0;
  margin: 4%;

  z-index: 8;

  a:hover {
    cursor: default;
  }

  @include breakpoint1 {
    flex-direction: column;
    bottom: 0;
    top: auto;
  }
}

.flag {
    max-width: 1.8rem;
    margin: 0.7rem;

    @include transition(all .2s ease-in-out);

    @include breakpoint1 {
      max-width: 1.1rem;
      margin: 0.4rem 0.3rem;
    }

    &:hover {
      @include scale(1.3)
      @include transition(all .2s ease-in-out);

      cursor: pointer;
    }
}
