.skills-wrapper {
  position: relative;
  flex: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.skills-element-wrapper {
  margin: 2.3rem 1rem;
  flex-basis: 90%;
}

.skills-element {
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.skills-element-content {
  font-size: 1.3rem;
  padding: 0.5rem;
  background-color: $primary_color;
  border-radius: 0.3rem;

  @include box-shadow();

  @include breakpoint1{
    @include box-shadow(0 0 0 0 black);
  }
}

.skills-element-image {
  display: inline-block;

  min-width: calc(3.8rem + 5%);
  max-width: calc(3.8rem + 5%);

  margin: 0 1.1rem;

  svg {
    fill: $details_color;
    width: 100%;
    height: 100%;
  }
}

.skills-odd-element {
  flex-direction: row-reverse;

  .skills-element-content {
    @include breakpoint1 {
      background-color: $secondary_color;
    }
  }
}
