.title {
  position: absolute;
  display: inline-block;
  font-family: titlesFont;

  @include transform-origin(50% 0% 0);

  text-align: center;
  left: 0;
  top: 0;
  z-index: 8;
  margin: calc(2rem + 2.5%)  calc(1rem + 15%);

  @include breakpoint1 {
    margin: calc(2rem + 2.5%)  0.5rem;
    right: 0;
  }
}

.maintitle {
  overflow: visible;
  position: relative;
  width: auto;
  color: $shock_color;
  font-size: 3.8rem;
  min-width: 0;

  @include breakpoint1 {
    font-size: 2.5rem;
  }
}

.subtitle {
  color: $font_color;
  font-size: 1.9rem;
  text-align: right;
  width: 90%;

  @include breakpoint1 {
    display: none;
  }
}
