
.title {
  background-color: $font_color;
  position: absolute;
  display: inline-block;
  width: 60%;
  max-width: 90%;
  padding: 3rem 0 1.4rem 0;
  border-radius: 0 0 0.6rem 0;

  text-align: center;
  left: 0;
  top: 0;
  margin: auto;

  z-index: 5;

  h1 {
    font-size: 4rem;
  }

  @include breakpoint1 {
    h1 {
      font-size: 3.7rem;
    }
  }

  @include transition(all .2s ease-in-out);

  span {
    white-space: pre-line;
  }
}

.maintitle {
  @include transition(all .6s ease-in-out);
  color: $secondary-color;
  position: relative;
}

.title-clickable {
  @include transition(all .2s ease-in-out);
  padding: 0;
  * {
    @include transition(all .2s ease-in-out);
  }

  &:hover {
    @include scale(1.2);

    cursor: pointer;
    @include transition(all .2s ease-in-out);
    border: solid;
    border-width: 3px 3px 3px 3px;
    border-color: $shock_color;

    background-color: rgba(255, 255, 255, 0.1);

    * {
      @include transition(all .2s ease-in-out)
      color: $shock_color;
    }

    .title-lower-caps {
      color: black;
    }

    @include breakpoint1 {
      @include scale(1.1);
    }
  }
}

.subtitle {
  @include transition(all .6s ease-in-out);
  color: $details_color;
  font-size: 2rem;
  text-align: right;
  width: 90%;

  @include breakpoint1 {
    font-size: 2rem;
  }
}

.title-placeholder {
  position: absolute;
  left: 0;
  right: 0;
  margin: 8% auto;
}

.title-lower-caps {
  @include transition(all .6s ease-in-out);
}

.inactive-title {
  font-size: 0;
  @include transition(all .6s ease-in-out);
}

.title-logo {
  position: fixed !important;
  margin: 0;
  padding: 1.2rem 1rem 0 1.2rem;
  z-index: 8;
  width: auto;
  height: auto;

  h1 {
    @include transition(all .6s ease-in-out);

    font-size: 3.5rem;

    @include breakpoint1 {
      @include transition(all 0.6s ease-in-out);

      font-size: 2.2rem;
    }
  }

  h2 {
        @include transition(all .3s ease-in-out);
  }

  &:focus {
    outline: none;
  }
}
