
.title {
  position: absolute;

  text-align: center;
  left: 0;
  right: 0;
  margin: 6% auto;

  z-index: 5;

  h1 {
    font-size: 5rem;
  }

  @include breakpoint1 {
    margin: calc(2.5rem + 10%) 1rem;

    h1 {
      font-size: 3.7rem;
    }
  }

  @include transition(all .2s ease-in-out);

  span {
    white-space: pre-line;
  }
}

.maintitle {
  @include transition(all .6s ease-in-out);
}

.maintitle-helper {
  display: inline-block;
  min-height: 0;

  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0.2rem;
  padding: 1.3rem 8vw;

  @include box-shadow();


  @include transition(all .6s ease-in-out);
}

.maintitle-clickable {
  padding: 0.4rem;
  padding-bottom: 0;

  @include transition(all .2s ease-in-out);

  * {
    @include transition(all .2s ease-in-out);
  }

  &:hover {
    @include scale(1.2);

    cursor: pointer;
    @include transition(all .2s ease-in-out);
    border: solid;
    border-width: 3px 3px 3px 3px;
    border-color: $shock_color;

    background-color: rgba(255, 255, 255, 0.1);

    * {
      @include transition(all .2s ease-in-out)
      color: $shock_color;
    }

    .title-lower-caps {
      color: black;
    }

    @include breakpoint1 {
      @include scale(1.1);
    }
  }
}

.subtitle {
  @include transition(all .6s ease-in-out);

  font-size: 2.5rem;

  @include breakpoint1 {
    font-size: 2rem;
  }
}

.title-placeholder {
  position: absolute;
  left: 0;
  right: 0;
  margin: 8% auto;
}

.title-upper-caps {
  color: $shock_color;
}

.title-lower-caps {
  @include transition(all .6s ease-in-out);
}

.inactive-title {
  font-size: 0;
  @include transition(all .6s ease-in-out);
}

.title-logo {
  position: fixed !important;
  margin: 0;

  h1 {
    font-size: 3.5rem;

    @include translate(calc(-46% + 3rem), 1.6rem);
    @include transition(all .6s ease-in-out);

    @include breakpoint1 {
      font-size: 2.2rem;

      @include translate(calc(-46% + 2.4rem), 0.8rem);
      @include transition(all 0.6s ease-in-out);
    }
  }

  h2 {
        @include transition(all .3s ease-in-out);
  }

  &:focus {
    outline: none;
  }
}
