.contact-links {
  margin: auto;
  width: auto;
  text-align: center;

  left: 0;
  right: 0;

  li {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 3.5rem 0 3.5rem;

    @media (max-width: 992px) {
      width: 2rem;
      height: 2rem;
    }
    @include transition-all;

    :hover {
      fill: $secondary;
      @include transition-all;

      svg {
      transform: scale(1.15);
      }
    }
  }

  svg {
    fill: $black;
    width:  100%;
    height:  100%;
    @include transition-all;
  }
}
